<!-- templates/index.html -->

{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Get detailed summary of emotions for your product
</h1>
<h2 class="subtitle">
  Just load file with comments:
</h2>
<form method=post enctype=multipart/form-data>
      <input type=file name=file>
      <input type=submit value=Upload>
</form>
<h1 class="title" style="margin-top: 100px">
  Or choose previous summary
</h1>
<table  align="center" style="margin: 0px auto;">
    <tr>
        <th>id</th>
        <th>name</th>
        <th>timestamp</th>
    </tr>
    <colgroup>
    {% for _ in range(2) %}
        <col style="width: 205px">
    {% endfor %}
         <col style="width: 305px">
    </colgroup>
{% for s in summary %}
    <tr >
        <td ><a href="{{ url_for('main.load_summary_by_id', id=s['id']) }}">{{s['id']}}</a></td>
        <td>{{s['name']}}</td>
        <td>{{s['timestamp']}}</td>
    </tr>
{% endfor %}
</table>
{% endblock %}