<!-- templates/index.html -->

{% extends "base.html" %}

{% block content %}
<h1 class="title">
  <img src="/static/neutral.png" height="35px" width="35px"> : {{ neutral }}
</h1>
<h1 class="title">
  <img src="/static/happy.png" height="35px" width="35px"> : {{ happy }}
</h1>
<h1 class="title">
  <img src="/static/sad.png" height="35px" width="35px"> : {{ sad }}
</h1>
<h1 class="title">
  <img src="/static/hate.png" height="35px" width="35px"> : {{ hate }}
</h1>
<h1 class="title">
  <img src="/static/anger.png" height="35px" width="35px"> : {{ anger }}
</h1>
{% endblock %}