<!-- templates/index.html -->

{% extends "base.html" %}

{% block content %}
<div style="display: inline-block; margin: 40px">
  <img src="/static/neutral.png" height="120px" width="120px">
    <h1 style="font-size: 50px">{{ neutral }}</h1>
</div>
<div style="display: inline-block; margin: 40px">
  <img src="/static/happy.png" height="120px" width="120px">
    <h1 style="font-size: 50px">{{ happy }}</h1>
</div>
<div style="display: inline-block; margin: 40px">
  <img src="/static/sad.png" height="120px" width="120px">
    <h1 style="font-size: 50px">{{ sad }}</h1>
</div>
<div style="display: inline-block; margin: 40px">
  <img src="/static/hate.png" height="120px" width="120px">
    <h1 style="font-size: 50px">{{ hate }}</h1>
</div>
<div style="display: inline-block; margin: 40px">
  <img src="/static/anger.png" height="120px" width="120px">
    <h1 style="font-size: 50px">{{ anger }}</h1>
</div>
<table style="margin-left: 40px">
    <tr>
        <th>id</th>
        {% for e in emotions %}
        <th> {{ e }} </th>
        {% endfor %}
    </tr>
    <colgroup>
    {% for _ in range(6) %}
        <col style="width: 205px">
    {% endfor %}
    </colgroup>
    <tbody>
        {% for i in range(pr|length) %}
        <tr>
            <td>{{i}}</td>
            {% for p in pr[i][0]%}
            <td>{{p}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}